<div style="margin: 1%;">
    <h2>¡Elige los escenarios que se banearán!</h2>
    <ng-container *ngIf="this.getBanStateMessage(); let message;">
        <p>{{message}}</p>
    </ng-container>

    <button mat-raised-button
            matTooltip="Nueva ronda, nuevos bans"
            matTooltipClass="bg-dark"
            color="primary" 
            class="mb-2" 
            (click)="restart()">
    <mat-icon>autorenew</mat-icon>Reiniciar todo
    </button>
 
    <button 
        mat-raised-button 
        matTooltip="Ver explicación"
        matTooltipClass="bg-dark"
        color="accent"
        (click)="abrirProcedimiento()">
    <mat-icon>help_outline</mat-icon>¿Cómo banear?
    </button>

    <div class="stage-container container-fluid">
        <ng-container *ngFor="let stage of this.getAvailableStages()">
            <img 
                id={{stage.id}}
                matTooltip={{stage.name}}
                matTooltipClass="text-dark bg-light"
                (click)="banStage(stage.id)"
                src={{stage.image}}
            />
        </ng-container>
    </div>

    <div class="mt-2">
        <h1><strong>Escenarios disponibles</strong></h1>
        <mat-list class="available-stage-list" role="list">
            <ng-container *ngFor="let stage of this.getAvailableStages()">
               <mat-list-item class="available-stage" role="listitem">{{stage.name}}</mat-list-item>
            </ng-container>
        </mat-list>     
    </div>

</div>
